.brown_color  {
    color:#CEBFA5
}


.location_hours_contact {
    font-weight: 177px;
    font-size: 28px
}

.raleway_font {
    font-family: 'Raleway', sans-serif;
}

.cormorant_font{
    font-family: 'Cormorant Garamond', serif;
}

.remove_image_padding{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.header_nav_button{
    background-color: #0A3254;
    padding: 10px;
    margin-left: 10px;
    border-radius: 6px;  /* This adjust how round the puttons are. */
}

.header_nav_button:hover{
    background-color: #CEBFA5;
    color:  #0A3254;
}

.reserve:hover{
    color: #a09480;

}